@using WebsiteBanThietBiAmThanh.Models
@using PagedList.Mvc
@model PagedList.PagedList<WebsiteBanThietBiAmThanh.Models.KhachHang>

@helper Truncate(string input, int length)
{               if (input.Length < length)
    {
@input }
                else
                {
@input.Substring(0, length)<text>...</text>}
}

@{ ViewBag.Title = "Khach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<br />
<h2 style="text-align: center">Danh sách thông tin khách hàng</h2>
<br />


<table class="table">

    <tr>
        <th style="width:300px">Họ và tên khách hàng</th>
        <th style="width:300px">Số điện thoại khách hàng</th>
        <th style="width:200px">Địa chỉ khách hàng</th>
        <th style="width:200px">Tài khoản khách hàng</th>
        <th style="width:200px">Mật khẩu khách hàng</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.hoTenKH)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.soDienThoaiKH)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.diaChiKH)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.taiKhoanKH)
    </td>
    <td>
        @Truncate(item.matKhauKH, 1)
    </td>

    <td>
        @Html.ActionLink("Chi Tiết", "ChiTietKhach", new { id = item.idKhachHang }) |
        @Html.ActionLink("Xóa", "XoaKhach", new { id = item.idKhachHang })
    </td>
</tr>}

</table>
<!--Tạo liên kết trang-->
Trang@(Model.PageCount< Model.PageNumber ? 0: Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Khach", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
