@model WebsiteBanThietBiAmThanh.Models.SanPham

@{
    ViewBag.Title = "Suasanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa thông tin sản phẩm</h2>

@using (Html.BeginForm("Suasanpham", "admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idSanPham)
                <div class="form-group">
                    <label class="control-label col-md-2" for="idSanPham">Mã sản phẩm</label>

                    <div class="col-md-10">
                        <div style="font:18px;padding:5px 0 0 5px">@Model.idSanPham</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="tenSanPham">Tên sản phẩm</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tenSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="giaSanPham">Giá sản phẩm</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.giaSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.giaSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="hinhAnhSP">Hình ảnh sản phẩm</label>
                    <div class="col-md-10">
                        Chọn ảnh mới
                        <input type="file" name="fileUpload" />
                        <img src="@Url.Content("~/Content/images/"+ Model.hinhAnhSP)" width="120" />(Ảnh hiện tại)
                        @*Thong bao trung*@
                        @ViewBag.Thongbao

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="chiTietSP">Chi tiết sản phẩm</label>
                    <div class="col-md-10">
                        <textarea name="chiTietSP">@Model.chiTietSP</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="idLoai">Mã loại</label>
                    <div class="col-md-10">
                        @Html.DropDownList("idLoai")
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="idThuongHieu">Mã thương hiệu</label>
                    <div class="col-md-10">
                        @Html.DropDownList("idThuongHieu")
                    </div>
                </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="background-color:blue;color:white" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về trang trước", "Sanpham")
</div>
