@using WebsiteBanThietBiAmThanh.Models
@using PagedList.Mvc
@model PagedList.PagedList<WebsiteBanThietBiAmThanh.Models.Admin>

@helper Truncate(string input, int length)
{               if (input.Length < length)
    {
@input }
                else
                {
@input.Substring(0, length)<text>...</text>}
}

@{ ViewBag.Title = "TaiKhoanAdmin";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<br />
<h2 style="text-align: center">QUẢN LÝ TÀI KHOẢN ADMIN</h2>
<br />
<table class="table">
    <tr>
        <th style="width:28%">Tài khoản</th>
        <th style="width: 28% ">Mật khẩu</th>
        <th style="width: 28% ">Họ tên</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserAdmin)
    </td>
    <td>
        @Truncate(item.PassAdmin, 1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hoten)
    </td>
    <td>

        @Html.ActionLink("Sửa", "SuaAdmin", new { id = item.UserAdmin }) |
        @Html.ActionLink("Xóa", "XoaAdmin", new { id = item.UserAdmin })

    </td>
</tr>}

</table>


<p style="text-align:right">@Html.ActionLink("Tạo tài khoản", "ThemMoiAdmin")</p>

<!--Tạo liên kết trang-->
Trang @(Model.PageCount< Model.PageNumber ? 0: Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("TaiKhoanAdmin", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
