@model WebsiteBanThietBiAmThanh.Models.TinTuc

@{
    ViewBag.Title = "ThemTinTuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TẠO MỚI TIN TỨC</h2>
@*Thêm thuộc tính cho Form để Upload Ảnh*@
@using (Html.BeginForm("ThemTinTuc", "Admin", FormMethod.Post, new { @enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="tieuDeTin">Tiêu đề tin</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tieuDeTin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tieuDeTin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="noiDungTin">Nội dung tin</label>
        <div class="col-md-10">
            <textarea name="noiDungTin">Nội dung tin tức</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="anhBiaTin">Ảnh bìa tin</label>
        <div class="col-md-10">
            <input type="file" name="fileupload" />
            @*Thông báo trùng*@
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="NgaySoan">Ngày soạn</label>
        <div class="col-md-10">
            <input type="date" name="NgaySoan"/>
            @Html.ValidationMessageFor(model => model.NgaySoan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Về trang quản lý tin tức", "TinTuc")
</div>
