@model WebsiteBanThietBiAmThanh.Models.KhachHang

@{
    ViewBag.Title = "XoaKhach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />

<h2 style="text-align:center">XÓA KHÁCH HÀNG</h2>
<h3 style="padding-left:50px">Bạn quyết định xóa khách hàng này?</h3>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding-left:50px; text-align:left">
            Họ và tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTenKH)
        </dd>

        <dt style="padding-left: 50px; text-align: left">
            Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDienThoaiKH)
        </dd>

        <dt style="padding-left: 50px; text-align: left">
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChiKH)
        </dd>

        <dt style="padding-left: 50px; text-align: left">
            Tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taiKhoanKH)
        </dd>

        <dt style="padding-left: 50px; text-align: left">
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matKhauKH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Trở về", "Khach") |
            <input type="submit" value="Xóa" style="background-color:darkred; color:white" class="btn btn-group" />
        </div>
    }
</div>
