@model WebsiteBanThietBiAmThanh.Models.LienHe

@{
    ViewBag.Title = "XoaLienHe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">XÓA LIÊN HỆ</h2>
<h3 style="padding-left:50px">Bạn có  chắc muốn xóa liên hệ? </h3>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idKhachHang)
        </dd>

        <dt>
            Họ và tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTenNguoiLH)
        </dd>

        <dt>
            Nội dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDungLH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Trở về", "LienHe") |
            <input type="submit" value="Xóa" style="background-color: darkred; color: white" class="btn btn-group" />
        </div>
    }
</div>
