@model WebsiteBanThietBiAmThanh.Models.SanPham

@{
    ViewBag.Title = "Xoasanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xoasanpham</h2>

<h3>Bạn có chắc xóa sản phẩm này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSanPham)
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.giaSanPham) VNĐ
        </dd>

        <dt>
            Ảnh sản phẩm
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/images/"+ Model.hinhAnhSP)" width="400px" />
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.chiTietSP)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.tenLoai)
        </dd>

        <dt>
            Loại thương hiệu
        </dt>

        <dd>
            <img style="width:70px;height:50px" src="@Url.Content("~/Content/images/"+ Model.ThuongHieu.hinhAnhTH)" />

        </dd>
        <div style=" padding-bottom: 100px;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Xóa" style="background-color: red; margin-left: -90px;" class="btn btn-default" />

                        @Html.ActionLink("Back to List", "Sanpham")
                    </div>
                </div>
            }

     
        </div>
 
    </dl>

</div>
