<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/zalo.css" />
    <link rel="stylesheet" id="roboto-subset.css-css" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5" type="text/css" media="all">
</head>
<body>
    <div class="header">
        <div class="container">
            <!--logo and menu-->
            @Html.Partial("Menu")
            <!--end - logo and menu-->
            <!--banner-->
            <div class="row" id="banner">

                <div class="col-2">
                    <h1> Life is a song <br>Love is the music! </h1>
                    <p>
                        Ngôn ngữ của âm nhạc là ngôn ngữ chung của tất cả mọi thế hệ và mọi dân tộc.
                        <br>Ai cũng hiểu được nó, bởi nó được hiểu bằng trái tim.
                        <br>– Gioachino Rossini
                    </p>
                    <br>
                    <audio data-v-f930cdfa="" controls="controls" loop="loop" preload="none" src="~/Content/audio/unstoppableSia.mp3" />
                </div>

                <div class="col-2">
                    <img src="~/Content/images/logoDisplay.png">
                </div>
            </div>
            <!--end banner-->
        </div>
    </div>
    <!--end header-->
    <!--loai san pham-->
    <div class="small-container">
        <div class="categories">
            <div class="row">
                <div class="col-3">
                    <img src="~/Content/images/JBL.png">
                </div>
                <div class="col-3">
                    <img src="~/Content/images/taiNgheSamsung2.jpg">
                </div>
                <div class="col-3">
                    <img src="~/Content/images/taiNgheSony3.jpg">
                </div>
            </div>
        </div>
    </div>
    <!--end loai san pham-->
    <!--san pham moi-->
    <div class="small-container">
        <div id="down">
            <h2 class="title">Sản phẩm mới</h2>
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <!--end san pham moi-->
    <!--logo thuong hieu-->
    @Html.Partial("brands")
    <!--end logo thuong hieu-->
    <!--quang cao san pham moi-->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/images/loaSony.jpg" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Sản phẩm độc quyền tại cửa hàng</p>
                    <h1>Sony SRS-XP700 X-Series</h1>
                    <small>
                        Loa di động Sony SRS-XP700 được tích hợp viên pin có thời gian sử dụng lên đến 25 giờ,
                        cùng khả năng Sạc nhanh cho bạn 3 giờ chơi chỉ với 10 phút sạc, vô cùng ấn tượng.
                        Giờ đây sau lần sạc đầy bạn có thể chơi nhạc cả ngày mà không cần lo lắng sẽ phải dừng
                        bữa tiệc âm nhạc cua mình bất chợt vì hết pin.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <!--end quang cao san pham moi-->
    <!--tin tuc-->
    <div class="testimonial">
        <div class="small-container">
            <h2 class="title">Tin tức về âm nhạc</h2>
            <div class="row">
                @Html.Action("HienThiTinTuc", "ThietBiAmThanh")
            </div>
        </div>
    </div>
    <!--end tin tuc-->
    <!--nhan xet cua khac hang-->
    <div class="testimonial">
        <div class="small-container">
            <h2 class="title">Bình luận</h2>
            <div class="row">
                @Html.Action("HienThiBinhLuan", "ThietBiAmThanh")
            </div>
        </div>
    </div>
    <div class="comment">
        <h3 class="textComment">"Góp ý của bạn là sự phát triển của chúng tôi!"</h3>
        >>>  <a href="@Url.Action("BinhLuan", "ThietBiAmThanh")" class="btnComment">Bình Luận</a>  <<<
    </div>
    <!--end nhan xet cua khach hang-->
    <!--footer-->
    @Html.Partial("Footer")
    <!--end footer-->
    <!--zalo-->
    @Html.Partial("Zalo")

</body>
</html>
