<div class="navbar" style="position: fixed; top: 0; ">
    <nav>
        <ul id="MenuItems">
            <li>
                <div class="logo">
                    <a href="@Url.Action("Index","ThietBiAmThanh")">
                        <img src="~/Content/images/logoTop.png" width="200">
                    </a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a href="@Url.Action("Index","ThietBiAmThanh")" style="text-decoration:none"><h3>Home</h3></a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a href="#down" style="text-decoration:none"><h3>Products</h3></a>
                    <div class="dropdown-content">
                        @Html.Action("LoaiSanPham", "ThietBiAmThanh")
                    </div>
                </div>
            <li>
                <div class="dropdown">
                    <h3>About</h3>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a style="text-decoration:none" href="@Url.Action("LienHe", "ThietBiAmThanh")"><h3>Contact</h3></a>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <h3>Account</h3>
                    <div class="dropdown-content">
                        <a href="@Url.Action("DangNhap", "NguoiDung")"><p>Đăng nhập</p></a>
                        <a href="@Url.Action("DangKy", "NguoiDung")"><p>Đăng ký</p></a>
                        <a href="@Url.Action("layKhachHang", "NguoiDung")"><p>Đổi mật khẩu</p></a>
                        
                    </div>
                </div>
            </li>
            <li>@Html.Action("GioHangPartial", "GioHang")</li>
        </ul>
    </nav>
</div>
