<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>@Html.ActionLink("Trang chủ", "Index")</a></li>
        <li>@Html.ActionLink("THÊM MỚI SẢN PHẨM", "Themmoisanpham")</a></li>
        <li>@Html.ActionLink("THAO TÁC VỚI SẢN PHẨM", "Sanpham")</a> </li>
        <li>@Html.ActionLink("THAO TÁC VỚI LOẠI SẢN PHẨM", "Loaisanpham")</a> </li>
        <li>@Html.ActionLink("THAO TÁC VỚI THƯƠNG HIỆU SẢN PHẨM", "ThuongHieuSanPham")</a> </li>
        <li>@Html.ActionLink("THAO TÁC VỚI TIN TỨC", "TinTuc")</a> </li>
        <li>@Html.ActionLink("TRANG KHÁCH HÀNG", "Index")</a> </li>
    </ul>
</div>
