<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>@Html.ActionLink("Trang chủ", "Index")</a></li>
        <li>@Html.ActionLink("THÊM MỚI SẢN PHẨM", "Themmoisanpham")</a></li>
        <li>@Html.ActionLink("THAO TÁC VỚI SẢN PHẨM", "Sanpham")</a> </li>
        <li>@Html.ActionLink("THÊM MỚI LOẠI SẢN PHẨM", "ThemMoiLoaiSanPham")</a></li>
        <li>@Html.ActionLink("THAO TÁC VỚI LOẠI SẢN PHẨM", "Loaisanpham")</a> </li>

        <li>
            <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
            <!-- Histats.com  START  (aync)-->
            <script type="text/javascript">
                var _Hasync = _Hasync || [];
                _Hasync.push(['Histats.start', '1,4675509,4,600,110,30,00011111']);
                _Hasync.push(['Histats.fasi', '1']);
                _Hasync.push(['Histats.track_hits', '']);
                _Hasync.push(['Histats.framed_page', '']);
                (function () {
                    var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
                    hs.src = ('//s10.histats.com/js15_as.js');
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
                })();</script>
            <noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?4675509&101" alt="" border="0"></a></noscript>
            <!-- Histats.com  END  -->
        <li>@Html.ActionLink("XEM BẢN ĐỒ", "XemBanDo")</a> </li>
        <li>@Html.ActionLink("XEM THỜI TIẾT", "XemThoiTiet")</a> </li>
        <li>@Html.ActionLink("THOÁT", "Login")</a> </li>
        </li>
    </ul>
</div>