
@{
    ViewBag.Title = "DangKy";
    Layout = null;
}

<table align="center">
    <h2 style="text-align:center">ĐĂNG KÝ TÀI KHOẢN</h2>
    @using (Html.BeginForm())
     {
        @Html.ValidationSummary(true)
        <tr style="height:40px;">
            <td> Họ tên khách hàng:</td>
            <td>@Html.TextBox("hoTenKH")
            @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td> Tên đăng nhập:</td>
            <td>@Html.TextBox("taiKhoanKH")
            @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td> Mật khẩu:</td>
            <td>@Html.Password("matKhauKH")
            @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td> Nhập lại mật khẩu:</td>
            <td>@Html.Password("nhapLaiMK")
            @ViewData["Loi4"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td> Số điện thoại:</td>
            <td>@Html.TextBox("soDienThoaiKH")
            @ViewData["Loi5"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td> Địa chỉ:</td>
            <td>@Html.TextBox("diaChiKH")
            @ViewData["Loi6"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td></td>
            <td>
                <input type="submit" value="Đăng Ký"/>
            </td>
        </tr>
     }
</table>