
@{
    ViewBag.Title = "DoiMatKhau";
    Layout = null;
}
<body style="background: radial-gradient( circle, rgba(86, 236, 214, 1) 30%, rgba(119, 0, 236, 0.8) 100%)">
    <table align="center" style="box-shadow: 4px 4px 10px rgba(0,0,0,.9); background-color:white; border-radius:20px ">
        <h2 style="text-align: center; background-color: rgba(119, 0, 236, 0.8); width: 200px; height: 38px; margin-top: 50px;
        padding-top: 10px; margin-left: 660px; border-radius: 25px; box-shadow: 4px 4px 10px rgba(0,0,0,.9); color:white">
            ĐỔI MẬT KHẨU
        </h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px;">
                <td> Tên đăng nhập:</td>
                <td>@Model.taiKhoanKH</td>
            </tr>
            <tr style="height:40px;">
                <td> Mật khẩu mới:</td>
                <td>
                    @Html.Password("matKhauMoi")
                    @ViewData["Loi1"]
                </td>
            </tr>
            <tr style="height:40px;">
                <td> Nhập lại mật khẩu mới:</td>
                <td>
                    @Html.Password("nhapLaiMKMoi")
                    @ViewData["Loi2"]
                </td>
            </tr>
            <tr style="height:40px;">
                <td></td>
                <td>
                    <input type="submit" value="Đổi mật khẩu" style="background-color: rgba(86, 236, 214, 1); border: none;
                    border-radius: 15px; height: 30px; font-weight: bold; box-shadow: 4px 4px 10px rgba(0,0,0,.9) " />
                </td>
            </tr>
        }
    </table>
</body>


