
@{
    ViewBag.Title = "Details";
    Layout = null;
}
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@Html.Partial("Menu")
<div style="background: radial-gradient( circle, rgba(86, 236, 214, 1) 30%, rgba(119, 0, 236, 0.8) 100%); height: 130px ">
    <ul style="padding-top: 150px; padding-left: 20px">
        <h4>Thông Tin Sản Phẩm:</h4>
        <img src="~/Content/images/@Model.hinhAnhSP" style="width:400px; float:right" />
        <li>Tên sản phẩm: @Model.tenSanPham </li>
        <li style="color: red">Giá: @Model.giaSanPham VNĐ</li>
        <li>Mô tả: @Model.chiTietSP </li>
        <li>
            <div style="background-color: red; display: block; text-decoration: none; text-align: center; width: 120px; height: 35px; padding-top: 8px;
        font-weight: bold; float: right; border-radius: 15px; justify-content: center; margin-top: 20px">
                <a href="@Url.Action("ThemGioHang", "GioHang", new { @iIDSanPham = @Model.idSanPham, @strURL=Request.Url.ToString() })"
                   style="color:white">
                    ĐẶT MUA
                </a>
            </div>
        </li>
        <a href="@Url.Action("Index","ThietBiAmThanh")"
           style="background-color: rgba(86, 236, 214, 1); width: 200px; height: 35px; text-align: center; color: black; font-weight: bold;
       border-radius: 15px; float: right; padding-top: 8px; margin-right: 5px; justify-content: center; margin-top: 20px">Xem thêm sản phẩm...</a>
    </ul>
</div>
