
@{
    ViewBag.Title = "DangKy";
    Layout = null;
}
<body>
    <link rel="stylesheet" href="~/Content/DangKy.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
    <link rel="stylesheet" id="roboto-subset.css-css" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5" type="text/css" media="all">
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5" style="font-family:sans-serif"><a href="@Url.Action("Index","ThietBiAmThanh")">
                                    <img src="~/Content/images/logoTop.png" width="150"/></a>TẠO TÀI KHOẢN MỚI</h2>
                                @using (Html.BeginForm())
                                {
                                    @Html.ValidationSummary(true)
                                    <div class="form-outline mb-4">
                                        <input id="hoTenKH" name="hoTenKH" type="text" class="form-control form-control-lg" />
                                        @ViewData["Loi1"]
                                        <label class="form-label" for="form3Example1cg">Họ tên khách hàng</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="taiKhoanKH" name="taiKhoanKH" type="text" class="form-control form-control-lg" />
                                        @ViewData["Loi2"]
                                        <label class="form-label" for="form3Example3cg">Tên đăng nhập</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="matKhauKH" name="matKhauKH" type="password" class="form-control form-control-lg" />
                                        @ViewData["Loi3"]
                                        <label class="form-label" for="form3Example4cg">Mật khẩu</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="nhapLaiMK" name="nhapLaiMK" type="password" class="form-control form-control-lg" />
                                        @ViewData["Loi4"]
                                        <label class="form-label" for="form3Example4cdg">Nhập lại mật khẩu</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="soDienThoaiKH" name="soDienThoaiKH" type="number" class="form-control form-control-lg" />
                                        @ViewData["Loi5"]
                                        <label class="form-label" for="form3Example4cdg">Số điện thoại</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="diaChiKH" name="diaChiKH" type="text" class="form-control form-control-lg" />
                                        @ViewData["Loi6"]
                                        <label class="form-label" for="form3Example4cdg">Địa chỉ</label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Đăng Ký" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"/>
                                    </div>
                                }
                                <p class="text-center text-muted mt-5 mb-0">
                                    Đã có tài khoản? <a href="@Url.Action("DangNhap","NguoiDung")"
                                                        class="fw-bold text-body"><u>Đăng nhập tại đây</u></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<!-- MDB -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"></script>