@model WebsiteBanThietBiAmThanh.Models.TinTuc

@{
    ViewBag.Title = "ChiTietTinTuc";
    Layout = null;
}


<link href="~/Content/chiTietTinTuc.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
@Html.Partial("Menu")
<body>
    <div class="container">
        <div class="card">




                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="~/Content/images/@Model.anhBiaTin" /></div>
                        </div>

                    </div>                    
                    <div class="center">
                        <h1 class="product-title">@Model.tieuDeTin</h1>
                        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.noiDungTin))</p>
                        <p id="date" class="product-description">@String.Format("{0:dd/MM/yyyy}", Model.NgaySoan)</p>
                    </div>
                </div>



</body>
@Html.Partial("Footer")