<div class="navbar" style="position: fixed; top: 0; ">

                <div class="logo">
                    <img src="~/Content/images/logoTop.png" width="200">
                </div>

                <nav>
                    <ul id="MenuItems">
                        <li>
                            <div class="dropdown">
                                <h3>Home</h3>
                                <div class="dropdown-content">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="#down"><h3>Products</h3></a>
                                <div class="dropdown-content">
                                    @Html.Action("LoaiSanPham", "ThietBiAmThanh")
                                </div>
                            </div>
                        <li>
                            <div class="dropdown">
                                <h3>About</h3>
                                <div class="dropdown-content">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <h3>Contact</h3>
                                <div class="dropdown-content">
                                    <p><a href="@Url.Action("LienHe", "ThietBiAmThanh")">Hộp thư liên hệ</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <h3>Account</h3>
                                <div class="dropdown-content">
                                    <p><a href="@Url.Action("DangNhap", "NguoiDung")">Đăng nhập</a></p>
                                    <p><a href="@Url.Action("DangKy", "NguoiDung")">Đăng ký</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>

                @Html.Action("GioHangPartial", "GioHang")
            </div>
